
// Colores
$color1: #E79232;
$color2: black;
$color3: white;
$color4: #42307A;

//$color1: #E79232;

//Fuentes
$fuente1:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$fuente2: Tahoma;


